@model IEnumerable<VenueBookingSystem.Models.Booking>

@{
    ViewData["Title"] = "Booking Page";
}

<h1>Index</h1>

<!--Add search form here-->
    <form asp-action ="Index" method="get">
        <div class="form-group">
            <input type="text" name="searchString" class="form-control" placeholder="search Bookings..." value="@Context.Request.Query["searchString"]"/>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Search</button>
    </form>

<!--Add tempdata message-->
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table"
<thead>
    <tr>
        <th>Booking ID</th>
        <th>Venue</th>
        <th>Event</th>
        <th>Booking Date</th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var booking in Model){
    
    <tr>
        <td>@booking.BookingID</td>
        <td>@booking.Venue?.VenueName</td>
        <td>@booking.Event?.EventName </td>
        <td>@booking.BookingDate.ToString("yyyy-M™-dd")</td>
    <td>
        <a asp-action="Edit" asp-route-id="@booking.BookingID">Edit</a> |
        <a asp-action="Details" asp-route-id="@booking.BookingID">Details</a> |
        <a asp-action="Delete" asp-route-id="@booking.BookingID">Delete</a>
    </td>
    </tr>
    }
</tbody>
</table>
